* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
}

nav {
    width: 100%;
    height: auto;
}

.left-nav {
    margin-left: 30px;
}

.left-nav a {
    text-decoration: none;
    color: rgb(60, 117, 82);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.main-nav a {
    text-decoration: none;
    color: black;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    padding-right: 30px;
    margin-right: 10px;
    width: 100px;
}


/* main */

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.main_dotted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-top: 50px;
    top: 13%;
    left: 7%;
    z-index: 3;
    width: 100px;
    height: 100px;
}

.main_dotted .main_dotted1 {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
}

.main_dotted .main_dotted1 div {
    background-color: rgb(18, 38, 31);
    width: 3px;
    height: 3px;
    border: none;
    border-radius: 50%;
}

.main_contents {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(54, 121, 87);
    font-weight: bold;
    border: none;
    margin-top: 60px;
    margin-left: 50px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 25%;
    padding: 20px;
    text-align: center;
}

.main_contents p {
    text-align: left;
}

.main_image {
    margin-left: 220px;
    width: 100%;
    object-fit: contain;
    margin-right: 10px;
}

.main_images {
    object-fit: contain;
    width: 100%;
    height: 700px;
}

.main_download {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -2%;
    bottom: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.main_scroll {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.scroll_arrow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.scroll_num {
    text-align: center;
}


/* trusted company */

.trusted_company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(232, 232, 232, 0.386);
}

.trusted_company .trusted_content {
    font-weight: 500;
}

.trusted_company .company_logos {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.trusted_company .company_logos img {
    object-fit: contain;
    filter: grayscale(100%);
    width: 100%;
}


/* hot deals */

.hot_deals {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.hot_deals .hot_left {
    width: 20%;
}

.hot_deals .hot_right {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.hot_deals .hot_right div {
    width: 100%;
    padding-right: 60px;
}

.hot_deals .hot_right div h4 {
    font-weight: 500;
}


/* about us */

.about_us {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    width: 100%;
    height: auto;
}

.about_us .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.about_us .top .left_top {
    margin-right: 300px;
    color: rgb(63, 109, 94);
}

.about_us .top .right_top {
    margin-left: 300px;
}

.about_us .top .right_top button {
    border: none;
    outline: none;
    background-color: #f1f0f0e3;
    color: rgb(63, 109, 94);
    padding: 10px 15px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 2px;
    box-shadow: 0 30px 25px rgba(98, 231, 164, 0.386);
}

.bottom {
    display: flex;
    align-items: center;
    color: rgb(63, 109, 94);
}

.bottom .left_bottom {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.bottom .left_bottom .top_right_bottom {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 20px;
}

.bottom .left_bottom .top_right_bottom div {
    padding-right: 50px;
}

.bottom .left_bottom .bottom_right_bottom {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 20px;
}

.bottom .left_bottom .bottom_right_bottom div {
    padding-right: 50px;
}

.bottom .right_bottom {
    display: flex;
    width: 60%;
    height: 100%;
    padding-right: 60px;
}

.bottom .right_bottom .left_right_bottom {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bottom .right_bottom .left_right_bottom div {
    width: 100%;
    padding: 8px;
}

.bottom .right_bottom .left_right_bottom div img {
    width: 288px;
    height: 202px;
    object-fit: contain;
}

.bottom .right_bottom .right_right_bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bottom .right_bottom .right_right_bottom div {
    width: 100%;
    padding: 8px;
}

.bottom .right_bottom .right_right_bottom div img {
    width: 288px;
    height: 202px;
    object-fit: contain;
}


/* products */

.products {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: rgb(63, 109, 94);
    margin-bottom: 40px;
}

.products .products_top {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.products .products_top div h1 {
    margin-right: 200px;
    padding-right: 50px;
}

.products .products_top .see-all {
    display: flex;
    align-items: center;
}

.products .products_top .see-all h6 {
    padding-right: 20px;
}

.products .products_top .see-all svg {
    margin-bottom: 8px;
}

.products .products_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .products_nav div {
    margin-right: 30px;
}

.products .products_nav h6 {
    font-weight: 700;
    cursor: pointer;
}

.products .products_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products .products_bottom .products_bottom_top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.products .products_bottom .products_bottom_top div {
    position: relative;
}

.products .products_bottom .products_bottom_top .cart {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(245, 172, 77, 0.687);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.products .products_bottom .products_bottom_top .item-detail {
    width: 110%;
    height: 300px;
    padding: 37px;
    margin-bottom: 100px;
    background-color: rgba(232, 232, 232, 0.386);
}

.products .products_bottom .products_bottom_top .item-img img {
    mix-blend-mode: multiply;
    width: 200px;
    height: 300px;
    position: absolute;
    top: -42%;
    right: -54%;
    transform: translate(-76%, -94%);
    z-index: 3;
    padding-bottom: 40px;
}

.products .products_bottom .products_bottom_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.products .products_bottom .products_bottom_bottom div {
    position: relative;
}

.products .products_bottom .products_bottom_bottom .cart {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(245, 172, 77, 0.687);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.products .products_bottom .products_bottom_bottom .item-detail {
    width: 110%;
    height: 300px;
    padding: 37px;
    margin-bottom: 100px;
    background-color: rgba(232, 232, 232, 0.386);
}

.products .products_bottom .products_bottom_bottom .item-img img {
    mix-blend-mode: multiply;
    width: 200px;
    height: 300px;
    position: absolute;
    background-image: none;
    top: -42%;
    right: -54%;
    transform: translate(-76%, -94%);
    z-index: 3;
    padding-bottom: 40px;
}


/* clients */

.clients {
    height: auto;
    padding-top: 70px;
    width: 100%;
    margin-bottom: 30px;
    color: rgb(60, 117, 82);
    display: flex;
    flex-direction: column;
    background-color: rgba(232, 232, 232, 0.386);
}

.clients .client_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients .client_top .client_top_left {
    margin-right: 80px;
    padding-right: 30px;
}

.clients .client_top .client_top_right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: red;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 25px rgba(32, 42, 37, 0.386);
}

.clients .client_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 40px;
    position: relative;
}

.clients .client_bottom .client_star {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 24%;
    top: 42%;
    transform: translate(-61%, -181%);
    box-shadow: 0 10px 25px rgba(32, 42, 37, 0.386);
}

.clients .client_bottom .client_hero img {
    width: 300px;
    height: 400px;
    padding-right: 50px;
    object-fit: contain;
}

.clients .client_bottom .client_response {
    padding-left: 30px;
}

.clients .client_bottom .client_response h3 {
    padding-bottom: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

.clients .client_bottom .client_response p {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.clients .client_bottom .client_response h4 {
    padding-top: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.clients .client_bottom .client_response h6 {
    padding-bottom: 30px;
}

.clients .client_bottom .client_response button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(32, 42, 37, 0.386);
}